<a href="https://colab.research.google.com/github/Shriyansh1/Trex-game-for-mobile/blob/main/Class108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Nested for loop*

In [ ]:
row=int(input(" Enter the number of rows you want "))
for xyz in range(0,row):
  for xy in range(0,xyz+1):
    print('*',end=" ")
  print()

 Enter the number of rows you want 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
row=int(input(" Enter the number of rows you want "))
for xyz in range(1,row+1):
  for xy in range(1,xyz+1):
    print(xy,end=" ")
  print()

 Enter the number of rows you want 6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
row=int(input(" Enter the number of rows you want "))
for xyz in range(0,row):
  for xy in range(row,xyz,-1):
    print('*',end=" ")
  print()

 Enter the number of rows you want 7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(0,5):
  for j in range(5,i,-1):
    print("row=",i,"column=",j,end=" ")
  print()

row= 0 column= 5 row= 0 column= 4 row= 0 column= 3 row= 0 column= 2 row= 0 column= 1
row= 1 column= 5 row= 1 column= 4 row= 1 column= 3 row= 1 column= 2
row= 2 column= 5 row= 2 column= 4 row= 2 column= 3
row= 3 column= 5 row= 3 column= 4
row= 4 column= 5

In [34]:
name=input(" Enter your name ")
length= len(name)
for i in range(0,length):
  for j in range(0,length+1):
    if(i==j):
      print(name[j],sep=" ",end=" ")
    else:
      print('*',sep=" ",end=" ")
  print()

 Enter your name shriyansh
s * * * * * * * * *
* h * * * * * * * *
* * r * * * * * * *
* * * i * * * * * *
* * * * y * * * * *
* * * * * a * * * *
* * * * * * n * * *
* * * * * * * s * *
* * * * * * * * h *